body {
    font-family: sans-serif;
}

.board-container {
    display: grid;
    max-width: 470px;
    margin: 20px auto;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    background: #ccc;
    font-size:100px;
}

.board-container > div.box {
    background: #fff;
    text-align: center;
    font-size: 100px;
}